@{
    ViewBag.Title = "Inbox";
    var entero = Request.Url.PathAndQuery;
    var path = entero.Substring(entero.IndexOf('?') + 6);
    ViewBag.BLUP = path.Substring(0, path.Length - 14);
}

@MiHelper.DevuelveDatosUsuario(ViewBag.Resultado)
<input type="hidden" id="blupInitiate" value="/UltimusSercopULAPortal/Home/Index?BLUP=@ViewBag.BLUP&Aplicacion=MA" />
<input type="hidden" id="blup" value="/UltimusSercopULAPortal/Home/inbox?BLUP=@ViewBag.BLUP&Aplicacion=MA" />
<input type="hidden" id="blupCompleted" value="/UltimusSercopULAPortal/Home/completed?BLUP=@ViewBag.BLUP&Aplicacion=MA" />
<div class="row">
    <table class="table table-responsive" id="tablaInbox">
        <tr>
            <th>Nombre del Proceso</th>
            <th>Nombre de Tarea</th>
            <th>Código del Proceso</th>
            <th>Fecha Vencimiento</th>
            <th>Estado de la Tarea</th>
            <th>Descripción del Proceso</th>
        </tr>
    </table>
</div>
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/moment-with-locales.min.js"></script>
<script src="~/Scripts/app/scriptInbox.js"></script>