@{
    ViewBag.Title = "Initiate";
}
@MiHelper.DevuelveDatosUsuario(ViewBag.Resultado)
<div class="row">
    <table class="table table-responsive" id="tabla">
        <tr>
            <th>Nombre del Proceso</th>
            <th>Versión</th>
            <th>Nombre de Tarea</th>
        </tr>
    </table>
</div><!--/row-->