@helper  DevuelveDatosUsuario(string usr)
{
    var dslogin = new ULAPW.ServiceEasyLogin.DSLogin();
    var svc = new ULAPW.ServiceEasyLogin.WSEasyLoginSoapClient();
    svc.getUserByNombreCorto(@usr.Substring(3), ref dslogin);
    var nCorto = dslogin.Tables[1].Rows[0]["NombreCorto"];
    var email = dslogin.Tables[1].Rows[0]["Email"];
    var id = dslogin.Tables[1].Rows[0]["Id_Persona"];
    var estado = dslogin.Tables[1].Rows[0]["Estado"];
    var tipo = dslogin.Tables[1].Rows[0]["Tipo_Identificacion"];
    var numero = dslogin.Tables[1].Rows[0]["Numero_Identificacion"];
    var codGrupoFin = dslogin.Tables[1].Rows[0]["CodGrupoFinanciero"];
    <p><b>@nCorto</b>: @email (@id) - Estado: @estado - Tipo: @tipo - Id:@numero (RUC: @codGrupoFin)</p>;
}